{% extends 'base.html' %}
{% block body %}
<!--<div style="display: block;-->
<!--  margin-left: auto;-->
<!--  margin-right: auto;-->
<!--  width: 25%;">-->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
    <img src="{{movied.img.url}}" width="300" height="400"><br>
            </div>
                        <div class="col-md-6">
                            <h2> {{movied.name}}</h2>
                            <br>
                            <h5> {{movied.desc}}</h5><br>
                             <h4> {{movied.year}}</h4><br>
                            <a href="{% url 'movieapp:update' movied.id %}" class="btn btn-warning">Update</a> <br>
                            <a href="{% url 'movieapp:delete' movied.id %}" class="btn btn-danger">Delete</a> <br>
                        </div>

        </div>
        </div>
<!--    </div>-->




{% endblock %}
